.grafana-table-wrapper {
  .grafana-table-title-wrapper {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: solid 1px $grafana-table-border-color;
    background-color: $grafana-table-title-wrapper-bg;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .grafana-table-title {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $grafana-table-title-color;
      padding: 20px 15px;
    }
  }
}
.grafana-table {
  border: solid 1px $grafana-table-border-color;
  border-bottom: none;
  border-top: none;
  background: $grafana-table-bg;
  .grafana-table-header {
    display: flex;
    height: 50px;
    border-bottom: solid 1px $grafana-table-border-color;
    .grafana-table-header-cell {
      display: flex;
      align-items: center;
      // height: 50px;
      padding-left: 20px;
      .grafana-table-header-cell-label {
        font-size: 18px;
        font-weight: bold;
        color: $grafana-table-title-color;
      }
    }
  }
  .grafana-table-row {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: solid 1px $grafana-table-border-color;

    &:hover {
      background: $grafana-table-row-hover;
    }
    .grafana-table-cell {
      // height: 50px;
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }
}
